* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #2e2c24;
}

img {
    display: block;
    border: 0;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
}
