@media screen and (max-width: 1439px) and (min-width: 960px) {
    :root {
        /* font-size */
        --font-size-main-title:
            /* 35px; */
            2.43em;
        --font-size-section-title: 30px;
        --font-size-large: 25px;
        --font-size-mid: 20px;
        --font-size-regular: 16px;
        --font-size-small: 14px;
        --font-size-micro: 12px;
    }

    /* 공통영역 */
    #wrap {
        width: 100%;
    }

    .section__container {
        /* width: 1200px; */
        width: 95%;
        height: 100%;
        margin: 0 auto;
    }

    /* header */
    header {
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        height: 100px;
    }

    .header__toggle {
        position: absolute;
        /* left: 360px; */
        left: 5%;
        width: 40px;
        height: 40px;
        cursor: pointer;
    }

    .toggle__line {
        display: block;
        width: 100%;
        height: 4px;
        margin: 8px 0;
        background-color: var(--color-black);
    }

    @keyframes toggle-animate {
        from {
            width: 40px;
        }

        to {
            width: 30px;
        }
    }

    @keyframes toggle-original {
        from {
            width: 30px;
        }

        to {
            width: 40px;
        }
    }

    .toggle__line:first-child.toggle--animate,
    .toggle__line:last-child.toggle--animate {
        animation: toggle-animate 300ms linear forwards;
    }

    .toggle__line:first-child.toggle--original,
    .toggle__line:last-child.toggle--original {
        animation: toggle-original 300ms linear forwards;
    }

    .header__logo {
        /* width: 250px; */
        /* height: 60px; */
        width: 200px;
        height: 50px;
        /* margin: 0 auto 10px auto; */
        margin: 0 auto 10px auto;
    }

    .header__logo img {
        width: 100%;
    }

    .header__menu-wrap {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 9;
        width: 0;
        height: 100vh;
        visibility: hidden;
        background: url("../img/menu_bg.jpg") no-repeat center/cover;
    }

    .menu__logo {
        display: none;
        /* width: 250px;
    height: 60px; */
        width: 200px;
        height: 50px;
        margin: 60px;
    }

    .menu__logo > img {
        width: 100%;
    }

    .menu__close {
        position: absolute;
        top: 95px;
        right: 80px;
        width: 60px;
        height: 60px;
        cursor: pointer;
    }

    .close__line {
        display: block;
        /* width: 50px;
    height: 5px; */
        width: 40px;
        height: 4px;
        background-color: var(--color-black);
    }

    .close__line:first-child {
        transform: rotate(50deg);
    }

    .close__line:last-child {
        transform: rotate(-50deg) translate(4px, -2px);
    }

    .header__menu {
        display: none;
        width: 500px;
        height: 400px;
        /* margin: 150px auto; */
        margin: 7.815vw auto;
    }

    .header__menu > li {
        width: 100%;
        height: 60px;
        /* margin: 50px 0; */
        margin: 30px 0;
        text-align: center;
        font-size: var(--font-size-section-title);
        font-weight: 700;
    }

    .header__menu a {
        overflow: hidden;
        background: linear-gradient(to right,
                var(--color-black),
                var(--color-black) 50%,
                var(--color-white) 50%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        /* background-size: 200% 100%; */
        background-size: 250% 100%;
        background-position: 100%;
        color: var(--color-white);
        transition: background-position 300ms ease;
    }

    .header__menu a:hover {
        background-position: 0 100%;
    }

    .header__icon {
        position: absolute;
        right: 5%;
        display: flex;
        align-items: center;
        width: 150px;
        height: 100%;
    }

    .header__icon > img {
        width: 30px;
        height: 30px;
        margin: 0 5px;
        cursor: pointer;
    }

    /* section1 : main */
    #main {
        position: relative;
        width: 100%;
        /* height: 1080px; */
        height: 70vw;
        background: url("../img/sec1_bg.png") no-repeat center/cover;
        overflow: hidden;
    }

    .swiper-container.main-swiper-container {
        top: 50px;
        padding-bottom: 8%;
    }

    .mo-slide__img {
        /* width: 600px; */
        width: 41.666vw;
        margin: 0 auto;
    }

    .mo-slide__img > img {
        width: 100%;
    }

    .mo-slide__text {
        position: absolute;
        bottom: 6%;
/*        left: 20%;*/
        left: 13%;
    }

    .main__slides-wrap,
    .main__arrow {
        display: none;
    }

    /* section2 : styling */
    #styling {
        width: 100%;
        /* height: 1080px; */
        height: 100%;
        /* margin-bottom: 200px; */
        margin-bottom: 10.416vw;
        background: url("../img/sec2_bg.png") no-repeat 35% 5% / cover;
    }

    .styling__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .styling__img-box {
        position: relative;
        filter: grayscale(100);
        cursor: pointer;
        transition: filter 300ms linear;
    }

    .styling__img-box:hover {
        filter: grayscale(0);
    }

    .styling__img-box:hover .img__name {
        opacity: 0;
    }

    .img__name {
        position: absolute;
        top: 40%;
        width: 100%;
        height: auto;
        text-align: center;
        /* font-size: var(--font-size-mid); */
        font-size: 1.388em;
        font-weight: 900;
        color: var(--color-white);
        transition: opacity 300ms linear;
    }

    /* styling left side */
    .styling__left {
        /* width: 597px; */
        width: 41.458vw;
        height: 100%;
    }

    .styling__title-box {
        width: 100%;
        height: auto;
        margin: 50px 20px;
        /* margin: 100px 0 50px 20px; */
    }

    .styling__left > .styling__img-box {
        width: 100%;
        /* height: 642px; */
    }

    .styling__left > .styling__img-box > img {
        width: 100%;
    }

    /* styling right side */
    .styling__right {
        /* width: 597px; */
        width: 41.458vw;
        height: 100%;
        /* margin-top: 60px; */
        margin-top: 30px;
    }

    .styling__right > .styling__img-box {
        width: 100%;
        /* height: 642px; */
    }

    .styling__right > .styling__img-box > img {
        width: 100%;
    }

    .styling__bottom {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .styling__bottom > .styling__img-box {
        /* width: 257px; */
        width: 20vw;
        /* height: 257px; */
        height: 20vw;
        margin-top: 2.083vw;
    }

    .styling__bottom > .styling__img-box > img {
        width: 100%;
    }

    /* section3 : unicef */
    #unicef {
        position: relative;
        width: 100%;
        /* height: 1080px; */
        height: 70vw;
        margin-top: 200px;
    }

    .unicef__img,
    .unicef__container {
        display: none;
    }

    .mo-unicef__img {
        width: 100%;
    }

    .mo-unicef__img > img {
        width: 100%;
    }

    .mo-unicef__text-box {
        position: absolute;
        top: 50%;
        left: 40%;
        margin-top: calc(-1 * 320px / 2);
    }

    .mo-unicef__title {
        font-size: var(--font-size-main-title);
        text-align: center;
    }

    @keyframes title--moving {
        0% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(-20px);
        }

        100% {
            transform: translateY(0);
        }
    }

    .mo-unicef__title.unicef__title--moving {
        animation: title--moving 2500ms linear forwards infinite;
    }

    .mo-unicef__desc,
    .mo-unicef__btn {
        opacity: 0;
    }

    .mo-unicef__desc {
        margin-top: 15px;
        text-align: center;
        line-height: 25px;
    }

    .mo-unicef__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        height: 30px;
        margin: 20px auto;
        border: 1px solid var(--color-black);
        transition: all 300ms ease-in;
    }

    .mo-unicef__btn:hover {
        background-color: var(--color-black);
        color: var(--color-white);
    }

    /*section4 : product slides*/
    #product {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .product__title {
        width: 100%;
        height: auto;
        padding-top: 50px;
        padding-right: 35px;
        text-align: end;
        line-height: 45px;
    }

    .product__sub {
        margin-top: 5px;
    }

    /*product swiper*/
    .swiper-container.product-swiper-container {
        margin-top: 30px;
        padding-bottom: 5%;
    }

    .product__img-box {
        /* width: 350px; */
        width: 30vw;
        margin: 0 auto;
    }

    .product__img-box > img {
        width: 100%;
    }

    .product__name {
        margin-top: 20px;
        text-align: center;
        line-height: 25px;
    }

    .product__name > p {
        font-size: var(--font-size-small);
    }

    /*footer*/
    footer {
        width: 100%;
        height: 600px;
        font-family: "Noto Sans KR";
        background: url("../img/footer_bg.png") no-repeat center/cover;
    }

    .footer__top {
        display: flex;
        align-items: flex-end;
        width: 100%;
        height: 550px;
    }

    /*footer left side*/
    .footer__left {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 50%;
        height: 550px;
        margin-bottom: 100px;
    }

    .footer__left > p {
        font-size: var(--font-size-micro);
    }

    .footer__search {
        width: 300px;
        height: 40px;
        position: relative;
    }

    .footer__search > input {
        width: 300px;
        height: 40px;
        padding: 5px;
        margin-top: 10px;
        border: 1px solid var(--color-black);
        background-color: transparent;
    }

    .search__btn {
        position: absolute;
        top: 18px;
        right: 10px;
    }

    .search__btn > img {
        width: 23px;
    }

    /*footer right side*/
    .footer__right {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;
        width: 50%;
        height: 550px;
        padding-top: 200px;
    }

    .loca__top {
        display: flex;
        justify-content: flex-end;
    }

    .loca__top > img {
        width: 21px;
        height: 25px;
    }

    .loca__top > p {
        margin-top: 2px;
        margin-left: 8px;
        font-size: var(--font-size-small);
    }

    .footer__loca__btn {
        padding: 5px 10px;
        margin-top: 8px;
        color: var(--color-white);
        background-color: var(--color-dark-pink);
    }

    .footer__loca__btn:hover {
        color: var(--color-black);
        background-color: var(--color-light-pink);
    }

    .footer__sns {
        margin-top: 50px;
    }

    .footer__sns > p {
        font-size: var(--font-size-micro);
    }

    .sns__img {
        display: flex;
        justify-content: space-around;
        margin-top: 10px;
    }

    .sns__img img {
        width: 30px;
        height: 30px;
    }

    .footer__bottom {
        font-family: "Noto Sans KR";
        font-size: var(--font-size-micro);
    }
}

/* end */
